#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.display {
  padding: 2rem;
}

.amount {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
}

.amountLabel {
  font-size: 18px;
  margin-right: 12px;
}

.amountNumber {
  font-size: 48px;
}

.buttons {
  margin: 2rem;
}

button {
  margin: 0.5rem;
}
