.app {
  text-align: center;
  min-height: 100svh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.incorrect {
  animation: incorrect-to-neutral 1s linear;
}

.correct {
  animation: correct-to-neutral 1s linear;
}

.display {
  padding: 2rem;
}

.score {
  font-size: 40px;
}

.amount {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
}

.dueLabel {
  font-size: 24px;
}

.dueNumber {
  font-size: 50px;
}

.givingLabel {
  font-size: 18px;
}

.givingNumber {
  font-size: 32px;
}

.buttons {
  margin: 2rem;
}

button {
  margin: 0.5rem;
}

@keyframes correct-to-neutral {
  0% { background-color: #239930; }
  100% { background-color: #1a1a1a; }
}

@keyframes incorrect-to-neutral {
  0% { background-color: #C7332A; }
  100% { background-color: #1a1a1a; }
}
